body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin-left: 20px;
}

a {
  color: #00B7FF;
}

iframe {
  height: 160px;
  width: 70%;
}

.address {
	color: #BB22BB;
}

.preview {
	position: absolute;
	float: right;
	/*width: 200px;*/
	right: 10px;
  top: 70px;
}

.previewimg {
  width: 300px;
}

.previmgremove {
opacity: 0.8;
background-color: red;
right: 0px;
width: 20px;
height: 20px;
position: relative;
bottom: 23px; 
}

.stuck {
  position: fixed;
top: 0;
}

#editor {
  /*padding-left: 30%;*/
}

.selected {
  background-color: orange;
}